/* 
font-family: 'Nunito', sans-serif;
font-family: 'Rasa', serif;
*/

:root {
  --dark: rgba(35, 35, 35, 0.99);
  --static: linear-gradient(var(--dark), var(--dark)),
    url('https://effortlessreviews.com/static-home/img/static.gif');
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body,
html,
#root {
  background: var(--static);
}

canvas,
#root {
  width: 100%;
  height: 100%;
}

.result {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.result .center {
  position: relative;
  background: var(--static);
  width: 80%;
  border-radius: 30px;
  min-width: 200px;
  max-width: 600px;
  height: 50%;
  transition: all 0.5s ease;
}

.result .title {
  position: absolute;
  color: #a9a9a9;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  text-align: center;
  left: 0;
  right: 0;
  top: 30px;
  opacity: 0;
  box-shadow: none;
  text-transform: capitalize;
  transition: opacity 0.5s ease;
}

.center.active {
  box-shadow: -7px 9px 14px 7px rgb(23 23 23 / 50%),
    3px -7px 14px 13px rgb(60 59 59 / 24%);
}
.title.active {
  opacity: 1;
}

/* Logo */

.logo .title {
  width: 130px;
  position: absolute;
  right: 0;
  font-family: 'Rasa', serif;
  font-size: 2em;
  color: white;
  margin: 20px;
  opacity: 0;
  transition: all 0.2s ease;
}
.logo .title.active {
  opacity: 1;
}

/* Landing */

.landing {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
}

.landing .center .title {
  font-family: 'Rasa', serif;
  color: white;
  font-size: 4em;
  top: -150%;
  left: 0;
  right: 0;
  opacity: 1;
  transition: all 0.2s ease;
}

.landing .title.active {
  opacity: 0;
}

.landing button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

.landing button.active {
  opacity: 0;
}

.landing .center {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
}
